

@model UpdateSettingVM

<div class="container">
    <form method="post" >
        <div class="form-group">
            <label asp-for="Key">Key</label>
            <input type="text" class="form-control" asp-for="Key">
            <span asp-validation-for="Key" style="color:red"></span>
        </div>
        <div class="form-group">
            <label asp-for="Value">Value</label>
            <input type="text" class="form-control" asp-for="Value">
            <span asp-validation-for="Value" style="color:red"></span>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>